include mixins
#allresults
  a.reset(href="#!/reset") Reset
  -results.sort(function(a,b){ return a.vote - b.vote});
  each r in results
    div.result
      mixin card(r.vote)
      each user in r.users
        span.name= user.name