h3 Place your vote...
.cards
  a.card(href="#") 1
  a.card(href="#") 2
  a.card(href="#") 3
  a.card(href="#") 4
  a.card(href="#") 5
  a.card(href="#") 6
  a.card(href="#") 8
  a.card(href="#") 12
  a.card(href="#") 16
  a.card(href="#") &#8734;