.container.container_12
  .header.grid_12
    h1= title
  #main.main.grid_6
      include cards
  .sidebar.grid_6
    h3 People in here
    .people
      .name 
        span.icon.iconic.check
        span.name Ed
      .name Buzz
      .name Dennis
      .name Alban
  .clear