.container.container_12
  .header.grid_12
    h1= title
  .main.grid_6
    h3 This will be main content stuff
    .cards
      a.card(href="#") 2
      a.card(href="#") 4
      a.card(href="#") 6
      a.card(href="#") 8
      a.card(href="#") 12
      a.card(href="#") 16
  .sidebar.grid_6
    h3 People in here
    .people
      .name 
        span.icon.iconic.check
        span.name Ed
      .name Buzz
      .name Dennis
      .name Alban
  .clear