!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/styles/main.css')
    script(src='/scripts/jquery-1.6.3.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/client.js')
  body!= body