!!! 5
html
  head
    meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
    title= title
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/iconic/iconic.css')
    script(src='/scripts/jquery-1.6.3.min.js')
    script(src='/scripts/sammy-0.7.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/runtime.min.js')
    script(src='/scripts/templates.js')
    script(src='/scripts/jquery.cookie.js')
    script(src='/scripts/client.js')
  body!= body