@import 'external/reset'
@import 'external/960/grid'
@import 'nib'

var_grid_columns = 12
var_grid_gutter = 20px
var_grid_width = 960px
var_grid_debug = false
var_font_size = (14px/1.4)
//Color scheme:
//http://www.colourlovers.com/palette/754405/Someone_Like_Me

box-shadow(args...)
   -webkit-box-shadow args
   -moz-box-shadow args
   box-shadow args

body
  font 14px/1.4 "Lucida Grande", Arial, sans-serif
  color #59554E
  background #F3F4E5 url("http://noisepng.com/100-90-5.png")

.container
  background #FFF

.header
  background #A1C1BE
  box-shadow(0 1px 5px rgba(0,0,0,0.20))

h1
  font-size 2em

h2
  font-size 1.6em

h3
  font-size 1.2em
  background #E2E3D9

var_card_width = 80px
var_card_height = var_card_width * 1.5

.card
  bold-button(#59554E)
  width var_card_width
  height var_card_height
  text-align center
  float left
  border 1px black solid
  line-height var_card_height
  margin-right 1em
  margin-top 1em
  font-size 3em
  text-decoration none
    
@import 'mobile'